{{>header}}
{{>nav}}
<section class="container my-5">
    <h3>All Users</h3>
    <div class="d-flex justify-content-between mb-4">
            <a href="/add" class="btn btn-primary">
                Add User
            </a>
            <a href="/delAll" class="btn btn-danger">
                Delete All
            </a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>Email</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#if hasData}}
            {{#each allUsers}}
            <tr>
                <td>{{_id}}</td>
                <td>{{name}}</td>
                <td>{{age}}</td>
                <td>{{email}}</td>
                <td>
                    <a href="/single/{{_id}}" class="btn btn-primary mx-3">Show</a>
                    <a href="/edit/{{_id}}" class="btn btn-warning mx-3">Edit</a>
                    <a href="/del/{{_id}}" class="btn btn-danger mx-3">Delete</a>
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="5">No users yet</td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</section>
{{>footer}}